<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Lil Hearts Daycare</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery-1.11.1.min.js"></script>
</head>
<body>
	<div class="container" style="padding-bottom:50px;">
		<!-- header starts
		============================================================================== -->
		<div class="row">
			<div class="col-md-12">
				<div id="logo">
					<img src="images/logo.png" alt="Lil' Hearts Logo">
				</div>
			</div>
		</div>
		<div class="row" style="height:650px;">
			<div class="col-md-12" style="text-align:center;">
				<div id="navigation">
					<div class="home-btn" style="top:0px;">
						<img src="images/home_btn.jpg" alt="Home Button">
					</div>

					<a href="#" ><div class="about-btn">
						<img src="images/about_btn.jpg" alt="About Button">
					</div></a>

					<div class="program-btn"><a href="#">
						<img src="images/program_btn.jpg" alt="Programs Button">
					</div></a>

					<div class="contact-btn"><a href="#">
						<img src="images/contact_btn.jpg" alt="Cantact Button">
					</div></a>

					<div class="paper-bg">
						<img src="images/paperBg.png" alt="Paper Background">
					</div>

					<!-- Carousel starts
					====================================================================-->
					<div id="carousel-holder">
						<div id="carouselHolder" class="carousel slide" data-ride="carousel" data-interval="3000">
							<!-- Indicators -->
							<ol class="carousel-indicators">
								<li data-target="#carouselHolder" data-slide-to="0" class="active"></li>
								<li data-target="#carouselHolder" data-slide-to="1"></li>
								<li data-target="#carouselHolder" data-slide-to="2"></li>
							</ol>
							<!-- Wrapper for slides -->
							<div class="carousel-inner" role="listbox">
								<div class="item active">
									<img src="images/slider-1.jpg" alt="slider1">
							    </div>
	
							    <div class="item">
									<img src="images/slider-2.jpg" alt="slider2">
							    </div>
	
							    <div class="item">
									<img src="images/slider-3.jpg" alt="slider3">
							    </div>
							</div>
						</div>
					</div>
	<!-- carousel ends  ============================================= -->
				</div>
			</div>	
		</div>
		<!-- header ends ========================================================== -->
		<div class="row">
			<div class="col-md-4 img pic-radius">
				<img src="images/pencil-hearts.jpg" height="216" width="300" alt="Pencil Heart">
			</div>
			<div class="col-md-8 text-home">
				<div class="text-holder" style="">
					<h3><strong>WELCOME TO LIL' HEARTS DAYCARE</strong></h3>
					<p>The Lil Hearts Daycare is a full-service child care/development facility that cares for infants, toddlers and preschoolers from age one year to five.  The Lil Hearts Daycare will be concentrating on the upper end of the market, two income professional parents.  These personally ambitious parents are typically eager in terms of their children's development and are willing to pay to have their children attend the best facilities.</p>
				
					<p>Through specialized training of the support staff and innovative learning systems, The Lil Heart Daycare is cutting edge in terms of child development.  This curriculum, coupled with a custom designed facility and a low teacher/student ratio ensures a top-shelf service for the children and the parents.</p>
					<p>The aim of Lil Hearts Daycare and Preschool is to ready young children for school and other social and academic situations. This is best done through use of a regular, formal curriculum integrated with free play and more informal instruction. Lil Hearts will use the ABC Home Preschool Curriculum, which includes all of the necessary components for the academics of a home–based preschool, including worksheets, downloads, and software. Lil Hearts Daycare will provide music lesson for toddlers and preschoolers, while French lesson will also be taught to preschoolers. Basic knowledge in French will help them cope up easily when they are in grade school.</p>
				</div>
			</div>
		</div>
	</div>
<!--</body> ends
================================================================================  -->

</body>

</html>
