<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lil Hearts Daycare About Us</title>
<link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<!--/nabar starts/-->
<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header"><a class="navbar-brand" href="contactus.html"><strong>WELCOME TO...</strong></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> </button>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="index.html">Home</a> </li>
        <li><a href="aboutus.html">About Us</a> </li>
        <li><a href="programs.html">Programs</a> </li>
        <li class="active"><a href="contactus.html">Contact Us</a> </li>
      </ul>
    </div>
  </div>
</div>
<!--/navbar ends/-->
<div class="row" style="background-color:#ffcc33;">
  <div class="container main-body" style="margin-bottom:50px; margin-top:50px; background-color:#fff;">
    <div class="row vertical-grade">
      <div class="col-sm-12">
        <div class="logo" style="position:absolute; top:0px; left:0px; height:260px;  width:100%; z-index:7;">
          <div class="row"> <img class="pull-right sharperGlow" style="margin-right:50px; " src="images/logo-web-v2.png" alt=""> </div>
        </div>
        <!-- <img src="images/header-pic-2.jpg" alt="" height="100%" width="100%" align="center"> --> 
        <!-- carousel starts -->
        <div id="carousel-set" class="carousel slide" data-ride="carousel" style="z-index:1;">
          <ol class="carousel-indicators">
            <li data-target="#carousel-set" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-set" data-slide-to="1"></li>
            <li data-target="#carousel-set" data-slide-to="2"></li>
            <li data-target="#carousel-set" data-slide-to="3"></li>
            <li data-target="#carousel-set" data-slide-to="4"></li>
            <li data-target="#carousel-set" data-slide-to="5"></li>
            <li data-target="#carousel-set" data-slide-to="6"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active"> <img src="images/header-pic-1.jpg" alt="" height="100%" width="100%" align="center"> </div>
            <div class="item"> <img src="images/header-pic-2.jpg" alt="" height="100%" width="100%" align="center"> </div>
            <div class="item"> <img src="images/header-pic-3.jpg" alt="" height="100%" width="100%" align="center"> </div>
            <div class="item"> <img src="images/header-pic-4.jpg" alt="" height="100%" width="100%" align="center"> </div>
            <div class="item"> <img src="images/header-pic-5.jpg" alt="" height="100%" width="100%" align="center"> </div>
            <div class="item"> <img src="images/header-pic-6.jpg" alt="" height="100%" width="100%" align="center"> </div>
            <div class="item"> <img src="images/header-pic-7.jpg" alt="" height="100%" width="100%" align="center"> </div>
          </div>
        </div>
        <!-- carousel ends  --> 
      </div>
    </div>
    <div class="row" style="height:20px; background-color: #ffda5c;"></div>
    <div class="row horizontal-grade" style="height:30px;"></div>
    
    <!-- content body starts -->
    
    <div class="row horizontal-grade-right">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <p>&nbsp;</p>
        <p class="title-font"><font style="font-size:30px;"><strong>Your E-Mail Has Been Sent </strong></font></p>
        <p><strong>Thank you for considering Lil Hearts Daycare we will contact you in return as soon as possible.</strong></p>
        <p>Please continue browsing at you lesuire.</p>
        <p><strong>Thank you,</strong><br>
          <span class="title-font" style="font-size:30px;">Lil Hearts Daycare</span></p>
        <p>&nbsp;</p>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row horizontal-grade" style="height:50px;"></div>
    <!-- Footer starts -->
    <div class="row lh-footer">
      <div class="col-sm-2"></div>
      <div class="col-sm-2">
        <div class="footer-btn"><a href="index.html">HOME</a></div>
      </div>
      <div class="col-sm-2">
        <div class="footer-btn"><a href="aboutus.html">ABOUT US</a></div>
      </div>
      <div class="col-sm-2">
        <div class="footer-btn"><a href="programs.html">PROGRAMS</a></div>
      </div>
      <div class="col-sm-2">
        <div class="footer-btn"><a href="contactus.html">CONTACT US</a></div>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <!-- Footer ends --> 
    <!-- content body ends --> 
  </div>
</div>

<!-- scripts 
=========================================================================--> 
<script src="js/jquery-1.11.3.min.js"></script> 
<script src="js/bootstrap.min.js"></script>
</body>
</html>